* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#pokedex    {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokedex img {
    height: auto;
    height: 70%;
    width: 70%;
}