* {}

#cabeçalho {
    background-color: gray;
    text-align: left;
    height: 45px;
    font-size: 40px;
    text-align: left;
    text-align: center;

}

#imagemInicial {
    display: flex;
    height: auto;
    width: 700px;
    background-color: gainsboro;
    border: solid;
}

#photo {
    height: 200px;
    width: 200px;
}

#dNone img {
    height: auto;
    width: 30px;
}


#divWhatsapp {
    display: flex;
    align-items: center;
}

#divInstagram {
    display: flex;
    align-items: center;
}

#divGit {
    display: flex;
    align-items: center;
}

main {
    margin-top: 50px;
    justify-self: center;

}

figure {
    margin: 10px;
    align-items: center;
}

