html, body, main {
    height: 100%;
    width: 100%;
}

main{
    display: flex;
    justify-content: center;
}

button {
    background-color: red;
    border: none;
}


.div1 {
    display: flex;
    width: 400px;
    height: 400px;
    background-color: green;
    border-radius: 80px;
    box-shadow: inset 10px 10px 3px greenyellow;
    justify-content: center;
    background-image:url(https://img.freepik.com/fotos-gratis/prancha-azul-com-ovos-de-pascoa-coloridos_329181-3462.jpg?semt=ais_hybrid&w=740);
    background-size:auto;
    background-repeat: no-repeat;
}



.pascoaEgg  {
    position: absolute;
    right: 35%;
    top: 60%;
    width: 50px;
    height: 50px;
    transition: 700ms;
}

.topo {
    position: absolute;
    text-shadow: 1px 1px black;
}

p   {
    display: flex;
    align-self: center;
}

#bunny {
    position: absolute;
    width: 7%;
    height: auto;
    top: 55%;
    animation: bunny-animation 3s infinite linear;
}

@keyframes bunny-animation {
    from {
        left: 35%;
    }

    to {
        left: 55%;
    }
}

.pascoaEgg:hover   {
    rotate: 25deg;
    width: 65px;
    height: 65px;
}

.button  {
    position: absolute;
    background-color: red;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    top: 77%;
    animation: botao-Animation 10s infinite linear;
}

@keyframes botao-Animation {
    0%    {
        width: 15%;
        height: 10%;
        rotate: 0deg;
        
    }   
    25% {
        width: 17%;
        height: 12%;
        rotate: 2deg;
    }

    75% {
        width: 13%;
        height: 8%;
        rotate: -2deg;
    }

    100% {
        width: 15%;
        height: 10%;
        rotate: 0deg;
    }
}

#minhaImagem    {
    position: absolute;
    width: 35%;
    height: auto;
    justify-content: center;
}